// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'theme/variables';
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'theme/bootswatch';

@import '~dropzone/dist/min/dropzone.min.css';
// @import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 25rem;
  min-height: 100%;
}

.user-navbar {
  height: 50px;
  border: 0;
}

.col-form-label {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.event-item {
  border: 1px solid $gray-500;
}

.dropzone {
  margin-bottom: 20px;
  min-height: auto;
}

.event-show-link:hover {
  text-decoration: none !important;
}

.event-description {
  text-align: justify;
}

.dz-preview .dz-image img {
  height: 128px;
}

#carousel {
  height: 500px;
  max-height: 500px;
  .carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  img {
    height: 500px !important;
    width: auto !important;
    margin: 0 auto;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  .title {
    color: $warning;
  }
  a {
    color: $white;
    &:hover {
      text-decoration: none !important;
      color: $warning;
    }
  }
}



.cookies-banner {
  max-height: 150px;
  strong {
    font-weight: bold !important;
    font-size: 150%;
  }
}

.avatar {
  border: 1px solid $gray-400;
  border-radius: 50%;
}

.comment {
  .card-text {
    font-size: 16px;
  }

  .card-title {
    font-weight: bold;
    color: $gray-900;
    .avatar {
      float: right;
      border-radius: 50%;
    }
  }

}


.event-container {
  border: .5px solid $gray-300;
  border-radius: 15px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  .edit-btn {
    position: absolute;
    top: 25px;
    right: 25px;
  }
  .image-container {
    height: 100%;
    width: 100%;
    // background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    background-repeat: no-repeat;
    border-radius: 50px;

    &:after {
      content: "";
      display: block;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 50px;
    }

    &:hover {
      transform: scale(1.2);
    }

  }
}
